@mixin hamburger-line {
  width: 100%;
  background-color: black;
  position: absolute;
  border-radius: 5px;
  height: 2px;
}

.wrapper {
  background-color: white;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;

  @media (min-width: 1024px) {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);

    &:hover {
      background-color: rgb(211, 211, 211);
    }
  }

  .outerSpan {
    width: 15px;
    height: 12px;
    display: inline-block;
    position: relative;

    .innerSpan {
      @include hamburger-line;
      left: 0;
      top: 50%;

      &::before,
      &::after {
        @include hamburger-line;
        content: "";
        left: 0;
      }

      &::before {
        top: -6px;
      }

      &::after {
        top: 6px;
      }
    }
  }
}
