.wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    color: white;
    background-color: black;
    height: 35%;
    width: 105px;

    @media (min-width: 1024px) {
      background-color: white;
      color: black;
    }
  }
}
