.wrapper {
  background-color: blue;
  border: 2px solid black;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  height: 26px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10%;
  left: 15px;

  .title {
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 6px 10px;
    margin: 0px;
  }
}
