.wrapper {
  position: sticky;
  top: -1px;
  height: 15vh;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .styledLogo {
    background-color: black;
    height: 40%;
  }

  .feed {
    height: 60%;
    background-color: white;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .buttonsContainer {
      display: flex;

      .subscribeButton {
        background-color: rgb(200, 0, 0);
        color: white;
        font-weight: 1000;
        font-style: italic;
        font-size: 0.7rem;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        margin: 0 20px 0 0;
        padding: 10px;
      }
    }
  }
}
