@mixin category {
  display: flex;
  height: fit-content;
  border: 1px solid grey;
  border-radius: 20px;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  white-space: nowrap;

  &:first-child {
    margin: 0 10px;
  }
}

.categoriesContainer {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  max-width: 100vw;
  overflow: auto;
  margin: 10px 0;
  height: 50px;

  .unpickedCategory {
    @include category;
    background-color: whitesmoke;
  }

  .pickedCategory {
    @include category;
    background-color: black;
    color: white;
  }
}
